@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'georgiab';
  src: url('/fonts/georgiab.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  transition: 0.3s all;
}

@keyframes appear {
  from {
    opacity: 0.5;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.appearBlock {
  animation: appear 2s linear;
  animation-timeline: view();
  animation-range: entry;
}

.mainLink:hover .linkDecoration {
  opacity: 100;
}

.reviews-swiper .swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide {
  opacity: 0 !important;
  transition: opacity 0.3s;
  margin: 0 auto;
}

.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
}

.mainLink {
  -webkit-tap-highlight-color: transparent;
}

.mainLink:active {
  outline: none;
  border: none;
}

.mainLink:focus,
.mainLink:active {
  outline: none;
  border: none;
  box-shadow: none;
}
